<div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
  <div class = "fs-5 t= fw-bold my-5">
    <h1>Articles</h1>
  </div>
  
  <% @articles.each do |article| %>
    <div class="card my-3 shadow" style="width: 18rem;">
      <div class="card-body text-center">
        <h5 class="card-title"><%= article.title %></h5>
        <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button full" class="btn btn-success">
          <%= link_to "Go", article, style: "color: white; text-decoration: none;" %>
        </button>
        </div>
      </div>
    </div>
  <% end %>
  <button type="button" class="btn btn-danger mt-3">
       <%= link_to "Create New Blog", new_article_path , style: "color: white; text-decoration: none;"  %>
      </button>
</div>






 

